language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm
  include:
    - php: 5.6
      env: XDEBUG_OFF="yes"
    - php: 7.1
      env: XDEBUG_OFF="yes"

before_script:
  - if [[ $XDEBUG_OFF = yes ]]; then phpenv config-rm xdebug.ini; fi;

script:
  - make
  - make test-all

after_success:
  - make coveralls
