<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         verbose="false"
        >

    <testsuites>
        <testsuite name="Tests suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <!-- main -->
        <log type="coverage-clover" target="build/logs/clover.xml"/>

        <!-- for human -->
        <log type="coverage-html"   target="build/phpunit" lowUpperBound="80" highLowerBound="95"/>
        <log type="coverage-text"   target="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>

        <!-- additionals -->
        <log type="json"            target="build/logs/json.json"/>
        <log type="tap"             target="build/logs/tap.tap"/>
        <log type="junit"           target="build/logs/junit.xml" logIncompleteSkipped="true"/>
        <log type="testdox-html"    target="build/logs/testdox.html"/>
        <log type="testdox-text"    target="build/logs/testdox.txt"/>
        <log type="coverage-php"    target="build/logs/coverage.php"/>
    </logging>

</phpunit>
